services:
  mysql:
    image: mysql:8.0
    container_name: rh_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: rh
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: rh_adminer
    ports:
      - "8080:8080"
    depends_on:
      - mysql

volumes:
  mysql_data: